<div class="container-lg mx-auto bg-light m-4 border border-1">
  <h1 class="h2 text-center">Insira os dados do paciente</h1>
  <form class="needs-validation my-4" novalidate>

    <div class="row align-items-center justify-content-center g-3 mb-3 ms-3">
      <label for="idade" class="col-sm-2 col-form-label">Idade (anos)</label>
      <div class="col-sm-3">
        <input type="number" min="0" max="120" class="form-control" id="idade" required>
      </div>
    </div>

    <div class="row align-items-center justify-content-center g-3 mb-3 ms-3">
      <label for="peso" class="col-sm-2 col-form-label">Peso (kg)</label>
      <div class="col-sm-3">
        <input type="number" min="0" max="250" class="form-control" id="peso" required>
      </div>
    </div>

    <div class="row m-4">
      <div class="form-check col-auto mx-auto">
        <input type="checkbox" class="form-check-input" value="" id="checkTipo">
        <label class="form-check-label" for="checkTipo" style="max-width: 400px;">
          O paciente foi classificado com dengue tipo A ou B (não é tipo C nem D)
        </label>
        <div class="invalid-feedback">
          Por favor insira o peso.
        </div>
      </div>

    </div>

    <div class="row m-4">
      <div class="form-check col-auto mx-auto">
        <input type="checkbox" class="form-check-input" value="" id="checkComorbidades">
        <label class="form-check-label" for="checkComorbidades" style="max-width: 400px;">
          O paciente não tem comorbidades que necessitem de cautela no volume de líquidos (ex.: cardiopatias, doença
          renal crônica)
        </label>
        <div class="invalid-feedback">
          Por favor insira o peso.
        </div>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-auto">
        <button class="btn btn-primary">Calcular Volume</button>
      </div>
    </div>

  </form>

</div>
