<div class="container-lg mx-auto bg-light m-4 border">
  <h1 class="h2 text-center">Volume calculado</h1>

  <div class="row mx-auto"  style="max-width: 500px;">
    <div class="col-sm-6 py-3">
      <div class="row align-items-center justify-content-center">
        <p class="col-auto">Idade: <strong>{{idade}} {{idade == 1 ? 'ano' : 'anos'}}</strong></p>
      </div>

      <div class="row align-items-center justify-content-center">
        <p class="col-auto">Peso: <strong>{{peso}} kg</strong></p>
      </div>
    </div>

    <div class="col-sm-6 align-self-center justify-content-center mx-auto">
      <button type="button" class="btn btn-primary ms-3" (click)="backToEditor()">
        Editar dados</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table text-center mx-auto" style="max-width: 500px;">
      <thead>
      <th scope="col"></th>
      <th scope="col">Soro de Reidratação Oral</th>
      <th scope="col">Outros líquidos</th>
      </thead>
      <tbody>
      <tr>
        <td class="text-start">Manhã</td>
        <td>X mL</td>
        <td>Y mL</td>
      </tr>
      <tr>
        <td class="text-start">Tarde</td>
        <td>X mL</td>
        <td>Y mL</td>
      </tr>
      <tr>
        <td class="text-start">Noite</td>
        <td>X mL</td>
        <td>Y mL</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
