<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-nowrap py-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mb-0 display-4" href="#">Calculadora de Hidratação na Dengue</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
          <li class="nav-item text-md-center">
            <a class="nav-link active" aria-current="page" href="#">Dados do Paciente</a>
          </li>
          <li class="nav-item text-md-center">
            <a class="nav-link" href="#">Volume Calculado</a>
          </li>
          <li class="nav-item text-md-center">
            <a class="nav-link" href="#">Sobre nós</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
