<header>
  <div class="container-fluid-sm">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary text-nowrap py-0">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ms-3 mb-0 display-3" href="#">Hidratação na Dengue</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-5 mb-2 mb-sm-0">
          <li class="nav-item text-md-center">
            <a class="nav-link" routerLink="/patientData" routerLinkActive="active">Dados do Paciente</a>
          </li>
          <li class="nav-item text-md-center">
            <a class="nav-link" routerLink="calculatedVolume" routerLinkActive="active">Volume Calculado</a>
          </li>
          <li class="nav-item text-md-center">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre nós</a>
          </li>
          <li class="nav-item text-md-center">
            <a class="nav-link" routerLink="/eventList" routerLinkActive="active">Eventos sobre Dengue</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</header>
